<template>
	<div style="padding-top: 45px;">
		<el-alert title="消息提示的文案" :closable="false" type="info" center show-icon></el-alert>
		<el-steps :space="200" align-center :active="active" finish-status="success">
			<el-step title="基本信息"></el-step>
			<el-step title="商品参数"></el-step>
			<el-step title="商品属性"></el-step>
			<el-step title="商品图片"></el-step>
			<el-step title="商品内容"></el-step>
		</el-steps>
		<el-tabs tab-position="left" v-model="name">
			<el-tab-pane label="基本信息" name="1">
				<el-form :model="goodcon" ref="add-good" size="mini">
					<el-form-item label="商品名称" prop="goods_name" :rules="[{ required: true, message: '请输入商品名称', trigger: 'blur' }]">
						<el-input v-model="goodcon.goods_name"></el-input>
					</el-form-item>
					<el-form-item label="商品价格" prop="goods_price" :rules="[{ required: true, message: '请输入商品价格', trigger: 'blur' }]">
						<el-input v-model="goodcon.goods_price"></el-input>
					</el-form-item>
					<el-form-item label="商品重量" prop="goods_weight" :rules="[{ required: true, message: '请输入商品重量', trigger: 'blur' }]">
						<el-input v-model="goodcon.goods_weight"></el-input>
					</el-form-item>
					<el-form-item label="商品数量" prop="goods_number" :rules="[{ required: true, message: '请输入商品数量', trigger: 'blur' }]">
						<el-input v-model="goodcon.goods_number"></el-input>
					</el-form-item>
					<el-form-item label="商品分类" style="float:left;">
						<div class="block">
							<el-cascader v-model="value" :options="options" :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"></el-cascader>
						</div>
					</el-form-item>
				</el-form>
			</el-tab-pane>
			<el-tab-pane label="商品参数" name="2">
				<div class="param" v-for="(m, i) in paramList" :key="m.attr_id">
					<p class="param-title" v-text="m.attr_name"></p>
					<div class="param-list">
						<el-tag @close="removeValue(i, j)" style="margin-right: 10px;" v-for="(n, j) in m.attr_vals" :key="j" closable type="">{{ n }}</el-tag>
					</div>
				</div>
			</el-tab-pane>
			<el-tab-pane label="商品属性" name="3">
				<el-form v-for="(m, i) in propList" :key="m.attr_id">
					<el-form-item :label="m.attr_name" :key="m.attr_id"><el-input v-model="m.attr_vals"></el-input></el-form-item>
				</el-form>
			</el-tab-pane>
			<el-tab-pane label="商品图片" name="4">
				<el-upload class="upload-demo" :action="uploadURL" :headers="token" :on-success="handlePreview" :on-remove="handleRemove" :file-list="fileList" list-type="picture">
					<el-button size="small" type="primary">点击上传</el-button>
					<div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
				</el-upload>
			</el-tab-pane>
			<el-tab-pane label="商品内容" name="5">
				<el-input v-model="goodcon.goods_introduce"></el-input>
				<el-button @click="addgood()">修改商品参数</el-button>
			</el-tab-pane>
		</el-tabs>
	</div>
</template>

<script>
import { http, uploadURL } from '../../http/index.js';
export default {
	data() {
		return {
			fileList: [],
			name: '1',
			active: 1,
			value: [],
			options: [],
			goodcon: {
				goods_name: '',
				goods_price: '',
				goods_number: '',
				goods_weight: '',
				attrs: [],
				pics: [],
				goods_introduce: ''
			},
			paramList: [],
			propList: [],
			token: { Authorization: localStorage.getItem('token') || '' },
			uploadURL: uploadURL
		};
	},
	methods: {
		handleRemove(file, fileList) {
			if (this.goodcon.pics.length > 0) {
				this.goodcon.pics.forEach((m, i) => {
					if (m.pic === file.url) {
						this.goodcon.pics.splice(i, 1);
					}
				});
			}
		},
		handlePreview(response, file, fileList) {
			this.goodcon.pics.push({ pic: response.tmp_path });
		},
		addgood() {
			this.$refs['add-good'].validate(valid => {
				if (valid) {
					this.goodcon.goods_cat = this.value.join(',');
					this.goodcon.goods_price = Number(this.goodcon.goods_price);
					this.goodcon.goods_number = Number(this.goodcon.goods_number);
					this.goodcon.goods_weight = Number(this.goodcon.goods_weight);
					this.paramList.map((m, i) => {
						m.attr_vals.map((n, j) => {
							this.goodcon.attrs.push({
								attr_id: m.attr_id,
								attr_value: n
							});
						});
					});
					http('goods/' + localStorage.getItem('editid') + '', 'put', this.goodcon).then(res => {
						if (res.data) {
							this.$router.push('/index/goods/goodlist');
							this.$message({
								message: res.meta.msg,
								type: 'success'
							});
						} else {
							this.$message({
								message: res.meta.msg,
								type: 'error'
							});
						}
					});
				} else {
					this.$message({
						message: '您有必填参数未填',
						type: 'error'
					});
				}
			});
		},
		removeValue(i, j) {
			this.paramList[i].attr_vals.splice(j, 1);
		}
	},
	mounted() {
		http('goods/' + localStorage.getItem('editid') + '', 'GET').then(res => {
			this.goodcon.goods_name = res.data.goods_name;
			this.goodcon.goods_price = res.data.goods_price;
			this.goodcon.goods_number = res.data.goods_number;
			this.goodcon.goods_weight = res.data.goods_weight;
			this.goodcon.goods_introduce = res.data.goods_introduce;
			this.goodcon.goods_cat = res.data.goods_cat;
			this.value = res.data.goods_cat.split(',');
		});
		http('categories', 'GET', { type: [1, 2, 3] }).then(res => {
			this.options = res.data;
		});
	},
	watch: {
		name: {
			handler(now) {
				if (this.value.length === 0) {
					this.$message({
						message: '请选择三级分类',
						type: 'error'
					});
				}
				this.active = Number(now);
			}
		},
		value: {
			handler(now) {
				http('categories/' + now[now.length - 1] + '/attributes', 'GET', {}, { sel: 'only' }).then(res => {
					this.propList = res.data;
				});
				http('categories/' + now[now.length - 1] + '/attributes', 'GET', {}, { sel: 'many' }).then(res => {
					res.data.map((m, i) => {
						m.attr_vals = m.attr_vals.split(',');
					});
					this.paramList = res.data;
				});
			},
			deep: true
		}
	}
};
</script>

<style>
.param-title {
	line-height: 30px;
	margin: 10px 0;
}
</style>
