<template>
	<div>
		<el-form inline class="form">
			<el-form-item>
				<el-input placeholder="请输入内容" v-model="query" class="input-with-select">
					<el-button slot="append" @click="_getGood(query)" icon="el-icon-search"></el-button>
				</el-input>
			</el-form-item>
			<el-form-item><el-button type="success" @click="addGood()" plain>添加商品</el-button></el-form-item>
		</el-form>
		<div class="table">
			<el-table :data="tableData" border class="small-table">
				<el-table-column type="index" label="#" width="80"></el-table-column>
				<el-table-column prop="goods_name" label="商品名称"></el-table-column>
				<el-table-column prop="goods_price" label="商品价格(元)"></el-table-column>
				<el-table-column prop="goods_weight" label="商品重量"></el-table-column>
				<el-table-column label="创建日期">
					<template slot-scope="tableData">
						<span>{{ tableData.row.upd_time | time }}</span>
					</template>
				</el-table-column>
				<el-table-column label="操作">
					<template slot-scope="tableData">
						<el-button type="primary" @click="editGood(tableData.row)" size="small" icon="el-icon-edit" circle></el-button>
						<el-button type="danger" @click="removeGood(tableData.row)" size="small" icon="el-icon-delete" circle></el-button>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<div class="block">
			<el-pagination
				@size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page="+params.pagenum"
				:page-sizes="[10, 20, 30, 40]"
				:page-size="+params.pagesize"
				layout="total, sizes, prev, pager, next, jumper"
				:total="total"
			></el-pagination>
		</div>
		<el-dialog title="删除商品" :visible.sync="remGoodShow">
			<span>您确定删除该商品吗？</span>
			<div slot="footer" class="dialog-footer">
				<el-button @click="remGoodShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmRemGood()">确 定</el-button>
			</div>
		</el-dialog>
	</div>
</template>

<script>
import { http } from '../../http/index.js';
export default {
	data() {
		return {
			tableData: [],
			query: this.$route.query.query || '',
			params: {
				query: this.$route.query.query || '',
				pagenum: this.$route.query.pagenum || 1,
				pagesize: this.$route.query.pagesize || 10
			},
			total: 0,
			removeId: 0,
			remGoodShow: false
		};
	},
	methods: {
		//修改页码值
		handleSizeChange(val) {
			this.params.pagesize = val;
			this.getGood();
		},
		handleCurrentChange(val) {
			this.params.pagenum = val;
			this.getGood();
		},
		getGood() {
			http('goods', 'GET', {}, this.params).then(res => {
				this.total = res.data.total;
				this.tableData = res.data.goods;
			});
		},
		_getGood(query) {
			this.params.query = query;
			this.params.pagesize = 10;
			this.params.pagenum = 1;
			http('goods', 'GET', {}, this.params).then(res => {
				this.total = res.data.total;
				this.tableData = res.data.goods;
			});
		},
		addGood() {
			this.$router.push('/index/goods/addgoods');
		},
		removeGood(obj) {
			this.removeId = obj.goods_id;
			this.remGoodShow = true;
		},
		affirmRemGood() {
			this.remGoodShow = false;
			http('goods/' + this.removeId + '', 'DELETE')
				.then(res => {
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
					this.getGood();
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
		},
		editGood(obj) {
			localStorage.setItem('editid', obj.goods_id);
			this.$router.push('/index/goods/editgood');
		}
	},
	mounted() {
		this.getGood();
	},
	watch: {
		params: {
			handler(now) {
				this.$router.push({ query: now });
			},
			deep: true
		}
	}
};
</script>

<style scoped="scoped">
.form {
	position: absolute;
	top: 45px;
	left: 0;
	width: 100%;
	z-index: 200;
}
.table {
	background-color: transparent;
	width: 100%;
	height: 100% !important;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 96px;
	padding-bottom: 32px;
	box-sizing: border-box;
}
.small-table {
	display: flex;
	flex-direction: column;
	height: 100% !important;
}
.block {
	position: absolute;
	bottom: 0;
	left: 0;
}
</style>
