<template>
	<div class="goods">
		<div class="small-goods">
			<el-breadcrumb class="el-breadcrumb" separator="/">
				<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
				<el-breadcrumb-item>用户管理</el-breadcrumb-item>
				<el-breadcrumb-item>用户列表</el-breadcrumb-item>
			</el-breadcrumb>
			<router-view />
		</div>
	</div>
</template>

<style scoped="scoped">
.goods {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.small-goods {
	width: 100%;
	height: 100%;
	position: relative;
}
.el-breadcrumb {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 200;
}
</style>
