<template>
	<div class="reports">
		<el-breadcrumb class="el-breadcrumb" separator="/">
			<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			<el-breadcrumb-item>商品管理</el-breadcrumb-item>
			<el-breadcrumb-item>分类参数</el-breadcrumb-item>
		</el-breadcrumb>
		<div id="main" style="width: 100%;height:400px;"></div>
	</div>
</template>

<script>
import { http } from '../../http/index.js';
var echarts = require('echarts/lib/echarts');
export default {
	data() {
		return {};
	},
	mounted() {
		var myChart = echarts.init(document.getElementById('main'));
		http('reports/type/1', 'GET').then(res => {
			myChart.setOption(res.data);
		});
	}
};
</script>

<style scoped="scoped">
.reports {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: white;
	box-sizing: border-box;
	padding: 15px;
	background-color: #ffffff;
	border-radius: 5px;
}
</style>
