<template>
	<div class="roles">
		<el-breadcrumb class="el-breadcrumb" separator="/">
			<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			<el-breadcrumb-item>权限管理</el-breadcrumb-item>
			<el-breadcrumb-item>角色列表</el-breadcrumb-item>
		</el-breadcrumb>
		<el-row><el-button type="primary" @click="addRoleShow = true">添加角色</el-button></el-row>
		<el-table :data="tableData" style="width: 100%">
			<el-table-column type="expand">
				<template slot-scope="props" style="width: 100%">
					<el-row v-for="(m, i) in props.row.children" :key="m.id" style="width: 100%">
						<el-col :span="4">
							<el-tag closable @close="removeRight(props.row, m.id, i)">{{ m.authName }}</el-tag>
							<i class="el-icon-arrow-right"></i>
						</el-col>
						<el-col :span="20">
							<el-row v-for="(n, j) in m.children" :key="n.id">
								<el-col :span="4">
									<el-tag closable type="success" @close="removeRight(props.row, n.id, i, j)">{{ n.authName }}</el-tag>
									<i class="el-icon-arrow-right"></i>
								</el-col>
								<el-col :span="20">
									<el-tag v-for="(s, x) in n.children" :key="s.id" closable type="warning" @close="removeRight(props.row, s.id, i, j, x)">
										{{ s.authName }}
									</el-tag>
								</el-col>
							</el-row>
						</el-col>
					</el-row>
				</template>
			</el-table-column>
			<el-table-column label="#" type="index" width="180"></el-table-column>
			<el-table-column label="角色名称" prop="roleName" width="180"></el-table-column>
			<el-table-column label="角色描述" prop="roleDesc" width="180"></el-table-column>
			<el-table-column label="操作" width="180">
				<template slot-scope="tableData">
					<el-button type="primary" size="small" @click="alterRole(tableData.row)" icon="el-icon-edit" circle></el-button>
					<el-button type="success" size="small" @click="addRight(tableData.row)" icon="el-icon-check" circle></el-button>
					<el-button type="danger" size="small" @click="remRight(tableData.row)" icon="el-icon-delete" circle></el-button>
				</template>
			</el-table-column>
			<el-table-column></el-table-column>
		</el-table>
		<el-dialog title="修改用户信息" :visible.sync="alterVisible">
			<el-tree ref="tree" :data="data" show-checkbox node-key="id" default-expand-all :props="defaultProps"></el-tree>
			<div slot="footer" class="dialog-footer">
				<el-button @click="alterVisible = false">取 消</el-button>
				<el-button type="primary" @click="affirmAddRight()">确 定</el-button>
			</div>
		</el-dialog>
		<el-dialog title="添加角色" :visible.sync="addRoleShow">
			<el-form :model="addrole" ref="add-role" size="mini">
				<el-form-item label="角色名称" prop="roleName" :rules="[{ required: true, message: '请输入用户名', trigger: 'blur' }]" :label-width="formLabelWidth">
					<el-input v-model="addrole.roleName"></el-input>
				</el-form-item>
				<el-form-item label="角色描述" prop="roleDesc" :label-width="formLabelWidth"><el-input v-model="addrole.roleDesc"></el-input></el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="addRoleShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmAddRole()">确 定</el-button>
			</div>
		</el-dialog>
		<el-dialog title="编辑提交角色" :visible.sync="alterRoleShow">
			<el-form :model="alterrole" ref="alter-role" size="mini">
				<el-form-item label="角色名称" prop="roleName" :rules="[{ required: true, message: '请输入用户名', trigger: 'blur' }]" :label-width="formLabelWidth">
					<el-input v-model="alterrole.roleName"></el-input>
				</el-form-item>
				<el-form-item label="角色描述" prop="roleDesc" :label-width="formLabelWidth"><el-input v-model="alterrole.roleDesc"></el-input></el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="alterRoleShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmAlterRole()">确 定</el-button>
			</div>
		</el-dialog>
		<el-dialog title="删除角色" :visible.sync="remRoleShow">
			<span>您确定删除该角色吗？</span>
			<div slot="footer" class="dialog-footer">
				<el-button @click="remRoleShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmRemRole()">确 定</el-button>
			</div>
		</el-dialog>
	</div>
</template>

<style>
.demo-table-expand {
	font-size: 0;
}
.demo-table-expand label {
	width: 90px;
	color: #99a9bf;
}
.demo-table-expand .el-form-item {
	margin-right: 0;
	margin-bottom: 0;
	width: 50%;
}
.roles {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
}
.demo-table-expand .el-form-item {
	width: 100%;
}
</style>

<script>
import { http } from '../../http/index.js';
export default {
	data() {
		return {
			tableData: [],
			data: [],
			defaultProps: {
				children: 'children',
				label: 'authName'
			},
			alterVisible: false,
			addRoleShow: false,
			alterRoleShow: false,
			remRoleShow: false,
			roleId: 0,
			addrole: {
				roleName: '',
				roleDesc: ''
			},
			formLabelWidth: '90px',
			alterrole: {
				roleName: '',
				roleDesc: ''
			}
		};
	},
	mounted() {
		this.getTableData();
	},
	methods: {
		getTableData() {
			http('roles', 'GET').then(res => {
				this.tableData = res.data;
			});
		},
		//删除用户权限
		removeRight(arr, rightId, ...src) {
			http('roles/' + arr.id + '/rights/' + rightId + '', 'DELETE')
				.then(res => {
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
			if (src.length === 3) {
				arr.children[src[0]].children[src[1]].children.splice(src[2], 1);
			}
			if (src.length === 2) {
				arr.children[src[0]].children.splice(src[1], 1);
			}
			if (src.length === 1) {
				arr.children.splice([src[0]], 1);
			}
		},
		//修改用户权限
		addRight(obj) {
			http('rights/tree', 'GET')
				.then(res => {
					this.data = res.data;
					this.roleId = obj.id;
					this.alterVisible = true;
					this.$nextTick(() => {
						this.$refs.tree.setCheckedNodes(obj.children);
					});
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
		},
		affirmAddRight() {
			http('roles/' + this.roleId + '/rights', 'POST', { rids: this.$refs.tree.getCheckedKeys().join(',') })
				.then(res => {
					this.alterVisible = false;
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
					this.getTableData();
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
		},
		//添加用户
		affirmAddRole() {
			this.$refs['add-role'].validate(valid => {
				if (valid) {
					http('roles', 'POST', this.addrole)
						.then(res => {
							this.getTableData();
							this.addRoleShow = false;
							this.$message({
								message: res.meta.msg,
								type: 'success'
							});
						})
						.catch(err => {
							this.$message({
								message: err.meta.msg,
								type: 'error'
							});
						});
				} else {
					this.$message({
						message: '您的角色名是空的！',
						type: 'error'
					});
				}
			});
		},
		//编辑角色信息
		alterRole(obj) {
			this.alterRoleShow = true;
			this.roleId = obj.id;
			this.alterrole = {
				roleName: obj.roleName,
				roleDesc: obj.roleDesc
			};
		},
		affirmAlterRole() {
			this.$refs['alter-role'].validate(valid => {
				if (valid) {
					http('roles/' + this.roleId + '', 'PUT', this.alterrole)
						.then(res => {
							this.getTableData();
							this.alterRoleShow = false;
							this.$message({
								message: res.meta.msg,
								type: 'success'
							});
						})
						.catch(err => {
							this.$message({
								message: err.meta.msg,
								type: 'error'
							});
						});
				} else {
					this.$message({
						message: '您的角色名是空的！',
						type: 'error'
					});
				}
			});
		},
		//删除角色
		remRight(obj) {
			this.roleId = obj.id;
			this.remRoleShow = true;
		},
		affirmRemRole() {
			http('roles/' + this.roleId + '', 'DELETE')
				.then(res => {
					this.getTableData();
					this.remRoleShow = false;
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
		}
	}
};
</script>
