<template>
	<div class="orders">
		<div class="small-orders">
			<el-breadcrumb class="el-breadcrumb" separator="/">
				<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
				<el-breadcrumb-item>订单管理</el-breadcrumb-item>
				<el-breadcrumb-item>订单列表</el-breadcrumb-item>
			</el-breadcrumb>
			<el-table :data="tableData" border>
				<el-table-column type="index" label="#" width="80"></el-table-column>
				<el-table-column prop="order_number" label="订单编号"></el-table-column>
				<el-table-column prop="order_price" label="订单价格"></el-table-column>
				<el-table-column prop="order_pay" label="是否付款"></el-table-column>
				<el-table-column prop="is_send" label="是否发货"></el-table-column>
				<el-table-column label="下单时间" width="180">
					<template slot-scope="tableData">
						<span>{{ tableData.row.create_time | time }}</span>
					</template>
				</el-table-column>
				<el-table-column label="操作" width="180">
					<template slot-scope="tableData">
						<el-button type="primary" size="small" icon="el-icon-edit" circle></el-button>
					</template>
				</el-table-column>
			</el-table>
			<div class="block">
				<el-pagination
					@size-change="handleSizeChange"
					@current-change="handleCurrentChange"
					:current-page="+params.pagenum"
					:page-sizes="[10, 15, 20, 25]"
					:page-size="+params.pagesize"
					layout="total, sizes, prev, pager, next, jumper"
					:total="total"
				></el-pagination>
			</div>
		</div>
	</div>
</template>

<script>
import { http } from '../../http/index.js';
export default {
	data() {
		return {
			tableData: [],
			query: '',
			params: {
				query: '',
				pagenum: 1,
				pagesize: 10
			},
			total: 0,
			formLabelWidth: '90px'
		};
	},
	mounted() {
		this.getuser();
	},
	methods: {
		//修改页码值
		handleSizeChange(val) {
			this.params.pagesize = val;
			this.getuser();
		},
		handleCurrentChange(val) {
			this.params.pagenum = val;
			this.getuser();
		},
		//获取用户列表
		getuser() {
			this.params.query = '';
			http('orders', 'GET', {}, this.params).then(res => {
				console.log(res);
				res.data.goods.map((m, i) => {
					m.order_pay == 1 ? (m.order_pay = '以付款') : (m.order_pay = '未付款');
				});
				this.tableData = res.data.goods;
				this.total = res.data.total;
			});
		}
	}
};
</script>

<style scoped="scoped">
.orders {
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
}
.small-orders {
	padding: 15px;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
	border-radius: 5px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}
.el-main {
	padding: 0px;
}
.block {
	background-color: white;
	margin-top: 15px;
}
</style>
