<template>
	<div class="user">
		<div class="small-user">
			<el-breadcrumb class="el-breadcrumb" separator="/">
				<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
				<el-breadcrumb-item>用户管理</el-breadcrumb-item>
				<el-breadcrumb-item>用户列表</el-breadcrumb-item>
			</el-breadcrumb>
			<el-form inline>
				<el-form-item>
					<el-input placeholder="请输入内容" v-model="query" class="input-with-select">
						<el-button slot="append" @click="_getuser(query)" icon="el-icon-search"></el-button>
					</el-input>
				</el-form-item>
				<el-form-item><el-button @click="userVisible = true" type="primary">添加用户</el-button></el-form-item>
			</el-form>
			<el-table :data="tableData" border style="width: 100%">
				<el-table-column prop="id" label="#" width="80"></el-table-column>
				<el-table-column prop="username" label="姓名"></el-table-column>
				<el-table-column prop="mobile" label="电话"></el-table-column>
				<el-table-column prop="email" label="邮箱"></el-table-column>
				<el-table-column label="创建日期">
					<template slot-scope="tableData">
						<span>{{ tableData.row.create_time | time }}</span>
					</template>
				</el-table-column>
				<el-table-column label="用户状态">
					<template slot-scope="tableData">
						<el-switch
							v-model="tableData.row.mg_state"
							@change="change(tableData.row.id, tableData.row.mg_state)"
							active-color="#13ce66"
							inactive-color="#ff4949"
						></el-switch>
					</template>
				</el-table-column>
				<el-table-column label="操作" width="180">
					<template slot-scope="tableData">
						<el-button type="primary" @click="alterUser(tableData.row.id)" size="small" icon="el-icon-edit" circle></el-button>
						<el-button type="success" @click="setAuthority(tableData.row.id, tableData.row.username)" size="small" icon="el-icon-check" circle></el-button>
						<el-button type="danger" @click="removeUser(tableData.row.id)" size="small" icon="el-icon-delete" circle></el-button>
					</template>
				</el-table-column>
			</el-table>
			<div class="block">
				<el-pagination
					@size-change="handleSizeChange"
					@current-change="handleCurrentChange"
					:current-page="+params.pagenum"
					:page-sizes="[2, 4, 6, 8]"
					:page-size="+params.pagesize"
					layout="total, sizes, prev, pager, next, jumper"
					:total="total"
				></el-pagination>
			</div>
		</div>
		<el-dialog title="添加用户" :visible.sync="userVisible">
			<el-form :model="user" ref="add-user" size="mini">
				<el-form-item label="用户名" prop="username" :rules="[{ required: true, message: '请输入用户名', trigger: 'blur' }]" :label-width="formLabelWidth">
					<el-input v-model="user.username"></el-input>
				</el-form-item>
				<el-form-item label="密码" prop="password" :rules="[{ required: true, message: '请输入密码', trigger: 'blur' }]" :label-width="formLabelWidth">
					<el-input v-model="user.password"></el-input>
				</el-form-item>
				<el-form-item
					label="邮箱"
					prop="email"
					:rules="[
						{ required: true, message: '请输入邮箱', trigger: 'blur' },
						{ pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: '您输入的邮箱格式有问题' }
					]"
					:label-width="formLabelWidth"
				>
					<el-input v-model="user.email"></el-input>
				</el-form-item>
				<el-form-item
					label="电话"
					prop="mobile"
					:rules="[{ required: true, message: '请输入手机号', trigger: 'blur' }, { pattern: /^1[34578]\d{9}$/, message: '目前只支持中国大陆的手机号码' }]"
					:label-width="formLabelWidth"
				>
					<el-input v-model="user.mobile"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="userVisible = false">取 消</el-button>
				<el-button type="primary" @click="addUser()">确 定</el-button>
			</div>
		</el-dialog>
		<el-dialog title="修改用户信息" :visible.sync="alterVisible">
			<el-form :model="AlterUser" ref="alterusername" size="mini">
				<el-form-item label="用户名" disabled prop="username" :rules="[{ required: true, message: '请输入用户名', trigger: 'blur' }]" :label-width="formLabelWidth">
					<el-input v-model="AlterUser.username"></el-input>
				</el-form-item>
				<el-form-item
					label="邮箱"
					prop="email"
					:rules="[
						{ required: true, message: '请输入邮箱', trigger: 'blur' },
						{ pattern: /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/, message: '您输入的邮箱格式有问题' }
					]"
					:label-width="formLabelWidth"
				>
					<el-input v-model="AlterUser.email"></el-input>
				</el-form-item>
				<el-form-item
					label="电话"
					prop="mobile"
					:rules="[{ required: true, message: '请输入手机号', trigger: 'blur' }, { pattern: /^1[34578]\d{9}$/, message: '目前只支持中国大陆的手机号码' }]"
					:label-width="formLabelWidth"
				>
					<el-input v-model="AlterUser.mobile"></el-input>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="alterVisible = false">取 消</el-button>
				<el-button type="primary" @click="affirmAlterUser()">确 定</el-button>
			</div>
		</el-dialog>
		<el-dialog title="分配角色" :visible.sync="roleVisible">
			<el-form :model="authorityUser" ref="alterusername" size="mini">
				<el-form-item label="用户名">{{ authorityUser.name }}</el-form-item>
				<el-form-item label="角色">
					<el-select v-model="authorityUser.select" placeholder="请选择要设置的角色">
						<el-option v-for="(m, i) in roleSelect" :key="m.id" :label="m.roleName" :value="m.id"></el-option>
					</el-select>
				</el-form-item>
			</el-form>
			<div slot="footer" class="dialog-footer">
				<el-button @click="roleVisible = false">取 消</el-button>
				<el-button type="primary" @click="affirmSetAuthority()">确 定</el-button>
			</div>
		</el-dialog>
	</div>
</template>

<script>
import { http } from '../../http/index.js';
export default {
	data() {
		return {
			tableData: [],
			query: this.$route.query.query || '',
			params: {
				query: this.$route.query.query || '',
				pagenum: this.$route.query.pagenum || 1,
				pagesize: this.$route.query.pagesize || 2
			},
			total: 0,
			formLabelWidth: '90px',
			userVisible: false,
			alterVisible: false,
			roleVisible: false,
			user: {
				username: '',
				password: '',
				email: '',
				mobile: ''
			},
			userVisibleTitle: '',
			AlterUser: {},
			authorityUser: {
				name: '',
				select: '',
				id: '',
				rid: ''
			},
			roleSelect: []
		};
	},
	mounted() {
		this.getuser();
	},
	methods: {
		//修改页码值
		handleSizeChange(val) {
			this.params.pagesize = val;
			this.getuser();
		},
		handleCurrentChange(val) {
			this.params.pagenum = val;
			this.getuser();
		},
		//获取用户列表
		getuser() {
			this.params.query = '';
			http('users', 'GET', {}, this.params).then(res => {
				this.tableData = res.data.users;
				this.total = res.data.total;
			});
		},
		_getuser(text) {
			this.params.query = text;
			http('users', 'GET', {}, this.params).then(res => {
				this.tableData = res.data.users;
				this.total = res.data.total;
			});
		},
		//添加用户
		addUser() {
			this.$refs['add-user'].validate(valid => {
				if (valid) {
					http('users', 'POST', this.user)
						.then(res => {
							// console.log(res);
							if (res.data !== null) {
								this.userVisible = false;
								this.$message({
									message: res.meta.msg,
									type: 'success'
								});
								this.user = {
									username: '',
									password: '',
									email: '',
									mobile: ''
								};
								this.getuser();
							} else {
								this.$message({
									message: res.meta.msg,
									type: 'error'
								});
							}
						})
						.catch(err => {
							// console.log(err);
							this.$message({
								message: err.meta.msg,
								type: 'error'
							});
						});
				}
			});
		},
		//修改用户状态
		change(id, state) {
			http('users/' + id + '/state/' + state + '', 'PUT')
				.then(res => {
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
		},
		//编辑用户信息
		alterUser(id) {
			http('users/' + id + '', 'GET').then(res => {
				this.alterVisible = true;
				this.AlterUser = res.data;
			});
		},
		affirmAlterUser() {
			this.$refs.alterusername.validate(valid => {
				if (valid) {
					http('users/' + this.AlterUser.id + '', 'PUT', { email: this.AlterUser.email, mobile: this.AlterUser.mobile })
						.then(res => {
							this.getuser();
							this.alterVisible = false;
							this.$message({
								message: res.meta.msg,
								type: 'success'
							});
						})
						.catch(err => {
							this.$message({
								message: err.meta.msg,
								type: 'error'
							});
						});
				} else {
					this.$message({
						message: '您可能输入的有空值！',
						type: 'error'
					});
				}
			});
		},
		//删除用户
		removeUser(id) {
			http('users/' + id + '', 'DELETE')
				.then(res => {
					// console.log(res);
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
					this.getuser();
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'success'
					});
				});
		},
		//修改角色
		setAuthority(id, name) {
			this.authorityUser.name = name;
			this.authorityUser.id = id;
			this.roleVisible = true;
			http('roles', 'GET').then(res => {
				this.roleSelect = res.data;
				// console.log(res);
				http('users/' + id + '', 'GET').then(ress => {
					var index = res.data.findIndex(v => {
						return v.id === ress.data.rid;
					});
					index === -1 ? (this.authorityUser.select = '') : (this.authorityUser.select = res.data[index].roleName);
				});
			});
		},
		affirmSetAuthority() {
			http('users/' + this.authorityUser.id + '/role', 'PUT', { rid: this.authorityUser.select })
				.then(res => {
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
					this.roleVisible = false;
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'success'
					});
				});
		}
	},
	watch: {
		tableData() {
			if (this.tableData.length === 0 && this.params.pagenum !== 1) {
				this.params.pagenum--;
				this.getuser();
			}
		},
		params: {
			handler(now) {
				this.$router.push({ query: now });
			},
			deep: true
		}
	}
};
</script>

<style scoped="scoped">
.user {
	width: 100%;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
}
.small-user {
	padding: 15px;
	background-color: #ffffff;
	border-radius: 5px;
}
.el-main {
	padding: 0px;
}
.block {
	background-color: white;
	margin-top: 15px;
}
</style>
