<template>
	<div class="categories">
		<div class="small-categories">
			<el-breadcrumb class="el-breadcrumb" separator="/">
				<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
				<el-breadcrumb-item>商品管理</el-breadcrumb-item>
				<el-breadcrumb-item>分类参数</el-breadcrumb-item>
			</el-breadcrumb>
			<el-row><el-button type="success" plain @click="addCate()">添加分类</el-button></el-row>
			<el-table :data="tableData" style="width: 100%">
				<el-table-column type="expand">
					<template slot-scope="props">
						<el-table v-if="props.row.children" :data="props.row.children" class="cate-table" style="width: 100%">
							<el-table-column type="expand">
								<template slot-scope="props">
									<el-table v-if="props.row.children" :data="props.row.children" class="cate-table" style="width: 100%">
										<el-table-column prop="cat_name"></el-table-column>
										<el-table-column prop="level"></el-table-column>
										<el-table-column prop="deleted"></el-table-column>
										<el-table-column>
											<template slot-scope="tableData">
												<el-button type="primary" @click="alterCate(tableData.row)" size="small" icon="el-icon-edit" circle></el-button>
												<el-button type="danger" @click="removeCate(tableData.row)" size="small" icon="el-icon-delete" circle></el-button>
											</template>
										</el-table-column>
									</el-table>
								</template>
							</el-table-column>
							<el-table-column prop="cat_name"></el-table-column>
							<el-table-column prop="level"></el-table-column>
							<el-table-column prop="deleted"></el-table-column>
							<el-table-column>
								<template slot-scope="tableData">
									<el-button type="primary" @click="alterCate(tableData.row)" size="small" icon="el-icon-edit" circle></el-button>
									<el-button type="danger" @click="removeCate(tableData.row)" size="small" icon="el-icon-delete" circle></el-button>
								</template>
							</el-table-column>
						</el-table>
					</template>
				</el-table-column>
				<el-table-column label="分类名称" prop="cat_name"></el-table-column>
				<el-table-column label="级别" prop="level"></el-table-column>
				<el-table-column label="是否有效" prop="deleted"></el-table-column>
				<el-table-column label="操作">
					<template slot-scope="tableData">
						<el-button type="primary" @click="alterCate(tableData.row)" size="small" icon="el-icon-edit" circle></el-button>
						<el-button type="danger" @click="removeCate(tableData.row)" size="small" icon="el-icon-delete" circle></el-button>
					</template>
				</el-table-column>
			</el-table>
		</div>
		<el-dialog title="添加商品分类" :visible.sync="addCateShow" width="50%">
			<el-form :model="addcate" ref="addcate" size="mini">
				<el-form-item label="分类父 ID">
					<el-cascader v-model="value" :options="options" clearable :props="{ checkStrictly: 'hover', label: 'cat_name', value: 'cat_id' }"></el-cascader>
				</el-form-item>
				<el-form-item label="分类名称" prop="cat_name" :rules="[{ required: true, message: '请输入分类名称', trigger: 'blur' }]" label-width="90px">
					<el-input v-model="addcate.cat_name"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button @click="addCateShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmAddCate()">确 定</el-button>
			</span>
		</el-dialog>
		<el-dialog title="删除商品分类" :visible.sync="removeCateShow" width="50%">
			<el-row>您确定要删除该分类吗？</el-row>
			<span slot="footer" class="dialog-footer">
				<el-button @click="removeCateShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmRemoveCate()">确 定</el-button>
			</span>
		</el-dialog>
		<el-dialog title="编辑商品分类" :visible.sync="alterCateShow" width="50%">
			<el-form :model="altercate" ref="altercate" size="mini">
				<el-form-item label="分类名称" prop="cat_name" :rules="[{ required: true, message: '请输入分类名称', trigger: 'blur' }]" label-width="90px">
					<el-input v-model="altercate.cat_name"></el-input>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
				<el-button @click="alterCateShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmAlterCate()">确 定</el-button>
			</span>
		</el-dialog>
	</div>
</template>

<script>
import { http } from '../../http/index.js';
export default {
	data() {
		return {
			tableData: [],
			addCateShow: false,
			alterCateShow: false,
			removeCateShow: false,
			addcate: {
				cat_pid: [],
				cat_name: '',
				cat_level: ''
			},
			value: [],
			options: [],
			altercate: {
				cat_name: '',
				id: 0
			},
			removeId: 0
		};
	},
	mounted() {
		this.getCate();
	},
	methods: {
		getCate() {
			http('categories', 'GET', { type: [1, 2, 3] }).then(res => {
				[...this.tableData] = res.data;
				this.tableData.map((m, i) => {
					if (m.cat_level === 0) {
						m.level = '一级';
					}
					if (m.cat_level === 1) {
						m.level = '二级';
					}
					if (m.cat_level === 2) {
						m.level = '三级';
					}
					m.cat_deleted ? (m.deleted = '无效') : (m.deleted = '有效');
					if (m.children) {
						m.children.map((n, j) => {
							if (n.cat_level === 0) {
								n.level = '一级';
							}
							if (n.cat_level === 1) {
								n.level = '二级';
							}
							if (n.cat_level === 2) {
								n.level = '三级';
							}
							n.cat_deleted ? (n.deleted = '无效') : (n.deleted = '有效');
							if (n.children) {
								n.children.map((s, x) => {
									if (s.cat_level === 0) {
										s.level = '一级';
									}
									if (s.cat_level === 1) {
										s.level = '二级';
									}
									if (s.cat_level === 2) {
										s.level = '三级';
									}
									n.cat_deleted ? (n.deleted = '无效') : (n.deleted = '有效');
								});
							}
						});
					}
				});
			});
		},
		//添加分类
		affirmAddCate() {
			this.$refs['addcate'].validate(valid => {
				if (valid) {
					if (this.value.length == 2) {
						this.addcate.cat_pid = this.value[1];
						this.addcate.cat_level = 2;
					}
					if (this.value.length == 1) {
						this.addcate.cat_pid = this.value[0];
						this.addcate.cat_level = 1;
					}
					http('categories', 'POST', this.addcate)
						.then(res => {
							this.addCateShow = false;
							this.getCate();
							this.addcate = {
								cat_pid: [],
								cat_name: '',
								cat_level: ''
							};
							this.value = [];
							this.$message({
								message: res.meta.msg,
								type: 'success'
							});
						})
						.catch(err => {});
				}
			});
		},
		addCate() {
			http('categories', 'GET', { type: [1, 2] }).then(res => {
				this.addCateShow = true;
				[...this.options] = res.data;
				this.options.map((m, i) => {
					if (m.children) {
						m.children.map((n, j) => {
							if (n.children) {
								n.children = null;
							}
						});
					}
				});
			});
		},
		//删除分类
		removeCate(obj) {
			this.removeId = obj.cat_id;
			this.removeCateShow = true;
		},
		affirmRemoveCate() {
			http('categories/' + this.removeId + '', 'delete')
				.then(res => {
					this.removeCateShow = false;
					this.getCate();
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: res.meta.msg,
						type: 'error'
					});
				});
		},
		//编辑分类
		alterCate(obj) {
			this.alterCateShow = true;
			this.altercate = {
				cat_name: obj.cat_name,
				id: obj.cat_id
			};
		},
		affirmAlterCate() {
			http('categories/' + this.altercate.id + '', 'put', { cat_name: this.altercate.cat_name })
				.then(res => {
					this.alterCateShow = false;
					this.getCate();
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: res.meta.msg,
						type: 'error'
					});
				});
		}
	}
};
</script>

<style class="categories">
.categories {
	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
}
.small-categories {
	padding: 15px;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #ffffff;
	border-radius: 5px;
	overflow-y: auto;
}
</style>
