<template>
	<div class="params">
		<el-breadcrumb class="el-breadcrumb" separator="/">
			<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
			<el-breadcrumb-item>商品管理</el-breadcrumb-item>
			<el-breadcrumb-item>分类参数</el-breadcrumb-item>
		</el-breadcrumb>
		<el-alert title="注意:只允许为第三级分类设置参数" type="warning" :closable="false" show-icon></el-alert>
		<div class="block">
			<span class="demonstration" style="margin-right: 5px;">请选择商品分类</span>
			<el-cascader v-model="value" :options="options" :props="{ expandTrigger: 'hover', label: 'cat_name', value: 'cat_id' }"></el-cascader>
		</div>
		<el-tabs v-model="activeName">
			<el-tab-pane label="动态参数" name="many">
				<el-row><el-button type="primary" :disabled="disabled" @click="addParam('many')">设置动态参数</el-button></el-row>
				<div class="table">
					<el-table :data="moveData" class="small-table" style="width: 100%">
						<el-table-column type="expand">
							<template slot-scope="props" style="width: 100%">
								<div class="param-list">
									<el-tag
										style="margin-right: 10px;"
										v-for="(n, j) in props.row.attr_vals"
										:key="j"
										disable-transitions
										closable
										@close="handleClose(j, props.$index, props.row)"
									>
										{{ n }}
									</el-tag>
									<el-input
										class="input-new-tag"
										v-model="props.row.attr_val"
										v-if="props.row.attr_show"
										:ref="'saveTagInput' + props.$index"
										size="small"
										@keyup.enter.native="handleInputConfirm(props.$index, props.row)"
										@blur="handleInputConfirm(props.$index, props.row)"
									></el-input>
									<el-button v-else class="button-new-tag" size="small" @click="showInput(props.$index)">+ New Tag</el-button>
								</div>
							</template>
						</el-table-column>
						<el-table-column label="#" width="80"></el-table-column>
						<el-table-column prop="attr_name" label="属性名称"></el-table-column>
						<el-table-column label="操作">
							<template slot-scope="moveData">
								<el-button type="primary" @click="editParam(moveData.row)" size="small" icon="el-icon-edit" circle></el-button>
								<el-button type="danger" @click="removeParam(moveData.row, 'moveData')" size="small" icon="el-icon-delete" circle></el-button>
							</template>
						</el-table-column>
					</el-table>
				</div>
			</el-tab-pane>
			<el-tab-pane label="静态参数" name="only">
				<el-row><el-button type="primary" :disabled="disabled" @click="addParam('only')">设置静态参数</el-button></el-row>
				<div class="table">
					<el-table :data="quietData" class="small-table">
						<el-table-column type="index" label="#" width="80"></el-table-column>
						<el-table-column prop="attr_name" label="属性名称"></el-table-column>
						<el-table-column prop="attr_vals" label="属性值"></el-table-column>
						<el-table-column label="操作">
							<template slot-scope="quietData">
								<el-button type="primary" @click="editParam(quietData.row)" size="small" icon="el-icon-edit" circle></el-button>
								<el-button type="danger" @click="removeParam(quietData.row, 'quietData')" size="small" icon="el-icon-delete" circle></el-button>
							</template>
						</el-table-column>
						<el-table-column></el-table-column>
					</el-table>
				</div>
			</el-tab-pane>
		</el-tabs>
		<el-dialog title="删除分类" :visible.sync="remParamShow" width="30%">
			<span>您确定要删除该分类吗？</span>
			<span slot="footer" class="dialog-footer">
				<el-button @click="remParamShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmRemoveParam()">确 定</el-button>
			</span>
		</el-dialog>
		<el-dialog title="添加分类" :visible.sync="addParamShow">
			<el-form :model="addparam" ref="alterusername" size="mini">
				<el-form-item label="参数名称"><el-input v-model="addparam.attr_name"></el-input></el-form-item>
				<el-form-item v-if="addparam.attr_sel == 'only' ? true : false" label="参数属性"><el-input v-model="addparam.attr_vals"></el-input></el-form-item>
			</el-form>
			<div v-if="addparam.attr_sel == 'many' ? true : false">
				<p style="line-height: 28px;">参数属性</p>
				<el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="remove(tag)">{{ tag }}</el-tag>
				<el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small" @keyup.enter.native="add" @blur="add"></el-input>
				<el-button v-else class="button-new-tag" size="small" @click="show">+ New Tag</el-button>
			</div>
			<div slot="footer" class="dialog-footer">
				<el-button @click="addParamShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmaddParam()">确 定</el-button>
			</div>
		</el-dialog>
		<el-dialog title="编辑分类" :visible.sync="editParamShow">
			<el-form :model="editparam" ref="alterusername" size="mini">
				<el-form-item label="参数名称"><el-input v-model="editparam.attr_name"></el-input></el-form-item>
				<el-form-item v-if="editparam.attr_sel == 'only' ? true : false" label="参数属性"><el-input v-model="editparam.attr_vals"></el-input></el-form-item>
			</el-form>
			<div v-if="editparam.attr_sel == 'many' ? true : false">
				<p style="line-height: 28px;">参数属性</p>
				<el-tag :key="tag" v-for="tag in dynamicTags" closable :disable-transitions="false" @close="remove(tag)">{{ tag }}</el-tag>
				<el-input class="input-new-tag" v-if="inputVisible" v-model="inputValue" ref="saveTagInput" size="small" @keyup.enter.native="add" @blur="add"></el-input>
				<el-button v-else class="button-new-tag" size="small" @click="show">+ New Tag</el-button>
			</div>
			<div slot="footer" class="dialog-footer">
				<el-button @click="editParamShow = false">取 消</el-button>
				<el-button type="primary" @click="affirmeditParam()">确 定</el-button>
			</div>
		</el-dialog>
	</div>
</template>

<script>
import { http } from '../../http/index.js';
export default {
	data() {
		return {
			value: [],
			options: [],
			activeName: 'many',
			quietData: [],
			moveData: [],
			remParamShow: false,
			addParamShow: false,
			editParamShow: false,
			remo: {
				id: 0,
				attrid: 0
			},
			disabled: true,
			removeArr: '',
			dynamicTags: [],
			inputVisible: false,
			inputValue: '',
			addparam: {
				attr_name: '',
				attr_sel: '',
				attr_vals: ''
			},
			editparam: {
				attr_name: '',
				attr_sel: '',
				attr_vals: '',
				attrId: 0
			}
		};
	},
	mounted() {
		http('categories', 'GET', { type: [1, 2, 3] }).then(res => {
			this.options = res.data;
		});
	},
	methods: {
		//删除分类
		removeParam(obj, arr) {
			this.remParamShow = true;
			this.remo.id = obj.cat_id;
			this.remo.attrid = obj.attr_id;
			this.removeArr = arr;
		},
		affirmRemoveParam() {
			http('categories/' + this.remo.id + '/attributes/' + this.remo.attrid + '', 'delete').then(res => {
				if (this.removeArr === 'quietData') {
					this.quietData.forEach((m, i) => {
						if (m.attr_id == this.remo.attrid) {
							this.quietData.splice(i, 1);
						}
					});
				}
				if (this.removeArr === 'moveData') {
					this.moveData.forEach((m, i) => {
						if (m.attr_id == this.remo.attrid) {
							this.moveData.splice(i, 1);
						}
					});
				}
				this.remParamShow = false;
			});
		},
		handleClose(j, i, obj) {
			var arr = [...this.moveData[i].attr_vals];
			arr.splice(j, 1);
			var str = arr.join(',');
			var json = {
				attr_name: obj.attr_name,
				attr_sel: 'many',
				attr_vals: str
			};
			http('categories/' + this.value[2] + '/attributes/' + obj.attr_id + '', 'put', json)
				.then(res => {
					this.moveData[i].attr_vals.splice(j, 1);
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
		},

		showInput(i) {
			this.moveData[i].attr_show = true;
			this.$nextTick(_ => {
				this.$refs['saveTagInput' + i].$refs.input.focus();
			});
		},

		handleInputConfirm(i, obj) {
			let inputValue = this.moveData[i].attr_val;
			if (this.moveData[i].attr_vals === '') {
				this.moveData[i].attr_vals = [];
			}
			var arr = [...this.moveData[i].attr_vals];
			arr.push(inputValue);
			var str = arr.join(',');
			var json = {
				attr_name: obj.attr_name,
				attr_sel: 'many',
				attr_vals: str
			};
			if (inputValue) {
				http('categories/' + this.value[2] + '/attributes/' + obj.attr_id + '', 'put', json)
					.then(res => {
						this.moveData[i].attr_vals.push(inputValue);
						this.$message({
							message: res.meta.msg,
							type: 'success'
						});
					})
					.catch(err => {
						this.$message({
							message: err.meta.msg,
							type: 'error'
						});
					});
			}
			this.moveData[i].attr_show = false;
			this.moveData[i].attr_val = '';
		},
		//添加静态动态参数
		remove(tag) {
			this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
		},

		show() {
			this.inputVisible = true;
			this.$nextTick(_ => {
				this.$refs.saveTagInput.$refs.input.focus();
			});
		},

		add() {
			let inputValue = this.inputValue;
			if (inputValue) {
				this.dynamicTags.push(inputValue);
			}
			this.inputVisible = false;
			this.inputValue = '';
		},
		addParam(str) {
			this.addParamShow = true;
			this.addparam.attr_sel = str;
			this.dynamicTags = [];
		},
		affirmaddParam() {
			if (this.addparam.attr_sel === 'many' && this.dynamicTags !== []) {
				this.addparam.attr_vals = this.dynamicTags.join(',');
			}
			http('categories/' + this.value[2] + '/attributes', 'post', this.addparam)
				.then(res => {
					res.data.attr_val = '';
					res.data.attr_show = false;
					this.addParamShow = false;
					if (this.addparam.attr_sel === 'many') {
						if (res.data.attr_vals !== '') {
							res.data.attr_vals = res.data.attr_vals.split(',');
						}
						this.moveData.push(res.data);
					}
					if (this.addparam.attr_sel === 'only') {
						this.quietData.push(res.data);
					}
					this.dynamicTags = [];
					this.addparam.attr_name = '';
					this.addparam.attr_vals = '';
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'error'
					});
				});
		},
		//编辑参数
		editParam(obj) {
			if (this.activeName === 'many') {
				this.dynamicTags = [...obj.attr_vals];
			}
			this.editparam.attr_name = obj.attr_name;
			this.editparam.attr_sel = obj.attr_sel;
			this.editparam.attr_vals = obj.attr_vals;
			this.editparam.attrId = obj.attr_id;
			this.editParamShow = true;
		},
		affirmeditParam() {
			if (this.activeName === 'many') {
				this.editparam.attr_vals = this.dynamicTags.join(',');
			}
			http('categories/' + this.value[2] + '/attributes/' + this.editparam.attrId + '', 'put', {
				attr_name: this.editparam.attr_name,
				attr_vals: this.editparam.attr_vals,
				attr_sel: this.editparam.attr_sel
			})
				.then(res => {
					this.editParamShow = false;
					if (this.activeName === 'many') {
						http('categories/' + this.value[2] + '/attributes', 'GET', {}, { sel: 'many' }).then(ress => {
							ress.data.map((m, i) => {
								m.attr_val = '';
								m.attr_show = false;
								if (m.attr_vals !== '') {
									m.attr_vals = m.attr_vals.split(',');
								}
							});
							this.moveData = ress.data;
						});
					} else {
						http('categories/' + this.value[2] + '/attributes', 'GET', {}, { sel: 'only' }).then(ress => {
							this.quietData = ress.data;
						});
					}
					this.$message({
						message: res.meta.msg,
						type: 'success'
					});
				})
				.catch(err => {
					this.$message({
						message: err.meta.msg,
						type: 'success'
					});
				});
		}
	},
	watch: {
		value: {
			handler(now) {
				if (now.length >= 3) {
					this.disabled = false;
					http('categories/' + now[now.length - 1] + '/attributes', 'GET', {}, { sel: 'only' }).then(res => {
						this.quietData = res.data;
					});
					http('categories/' + now[now.length - 1] + '/attributes', 'GET', {}, { sel: 'many' }).then(res => {
						res.data.map((m, i) => {
							m.attr_val = '';
							m.attr_show = false;
							if (m.attr_vals !== '') {
								m.attr_vals = m.attr_vals.split(',');
							}
						});
						this.moveData = res.data;
					});
				} else {
					this.disabled = true;
					this.moveData = [];
					this.quietData = [];
				}
			},
			deep: true
		}
	}
};
</script>

<style scoped="scoped">
.params {
	display: flex;
	flex-direction: column;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.block {
	margin: 10px 0;
}
.el-tag + .el-tag {
	margin-left: 10px;
}
.button-new-tag {
	margin-left: 10px;
	height: 32px;
	line-height: 30px;
	padding-top: 0;
	padding-bottom: 0;
}
.input-new-tag {
	width: 90px;
	margin-left: 10px;
	vertical-align: bottom;
}
.table {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
</style>
