<template>
	<div class="box">
		<el-container style="height: 100vh;">
			<el-aside width="210px" style="background-color: #001529;height: 100vh;">
				<h3>后台管理</h3>
				<el-menu :default-active="active" :router="true" text-color="#ffffff" background-color="#001529">
					<el-submenu v-for="(m, i) in leftBar" :key="m.id" :index="'' + m.id" background-color="#001529">
						<template slot="title">
							<i class="el-icon-message"></i>
							{{ m.authName }}
						</template>
						<el-menu-item v-for="(n, j) in m.children" :key="n.id" :index="'/index/' + n.path" background-color="#001529">{{ n.authName }}</el-menu-item>
					</el-submenu>
				</el-menu>
			</el-aside>
			<el-container class="el-container">
				<el-header style="text-align: right;background-color: #FFFFFF; font-size: 12px">
					<el-dropdown>
						<i class="el-icon-setting" style="margin-right: 15px"></i>
						<el-dropdown-menu slot="dropdown"><el-dropdown-item @click.native="logOut">退出</el-dropdown-item></el-dropdown-menu>
					</el-dropdown>
					<span>{{ $store.state.username }}</span>
				</el-header>
				<div class="con">
					<div class="small-con"><router-view /></div>
				</div>
			</el-container>
		</el-container>
	</div>
</template>
<style scoped="scoped">
.el-header {
	background-color: #b3c0d1;
	color: #333;
	line-height: 60px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.con {
	padding: 15px;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	flex: 1;
}
.small-con {
	border-radius: 5px;
	background-color: white;
	width: 100%;
	height: 100%;
	display: block;
	box-sizing: border-box;
	overflow-y: auto;
}
.el-aside {
	color: #ffffff;
}
.el-aside h3 {
	text-align: center;
	height: 60px;
	line-height: 60px;
}
.el-container {
	background-color: #eee;
}
.is-vertical {
	height: 100%;
	overflow: hidden;
}
</style>

<script>
import { http } from '../http/index.js';
export default {
	data() {
		var arr = this.$route.path.split('/');
		if (arr.length > 3) {
			arr.splice(arr.length - 1, 1);
		}
		var str = arr.join('/');
		return {
			tableData: [],
			leftBar: [],
			active: str
		};
	},
	mounted() {
		http('menus', 'GET').then(res => {
			this.leftBar = res.data;
		});
	},
	methods: {
		logOut() {
			localStorage.clear();
			this.$store.commit('restState');
			this.$router.push({
				name: 'login'
			});
		}
	}
};
</script>
