<template>
	<div class="rights">
		<div class="smll-rights">
			<el-breadcrumb class="el-breadcrumb" separator="/">
				<el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
				<el-breadcrumb-item>用户管理</el-breadcrumb-item>
				<el-breadcrumb-item>权限列表</el-breadcrumb-item>
			</el-breadcrumb>
			<div class="table">
				<el-table :data="tableData" border class="small-table">
					<el-table-column prop="id" label="#" width="180"></el-table-column>
					<el-table-column prop="authName" label="权限名称" width="180"></el-table-column>
					<el-table-column prop="path" label="路径"></el-table-column>
					<el-table-column prop="level" label="层级"></el-table-column>
				</el-table>
			</div>
		</div>
	</div>
</template>
<script>
import { http } from '../../http/index.js';
export default {
	data() {
		return {
			tableData: []
		};
	},
	mounted() {
		http('rights/list', 'GET')
			.then(res => {
				res.data.forEach((m, i) => {
					if (m.level === '0') {
						m.level = '层级一';
					}
					if (m.level === '1') {
						m.level = '层级二';
					}
					if (m.level === '2') {
						m.level = '层级三';
					}
				});
				this.$message({
					message: res.meta.msg,
					type: 'success'
				});
				this.tableData = res.data;
			})
			.catch(err => {
				// console.log(err);
				this.$message({
					message: err.meta.msg,
					type: 'error'
				});
			});
	}
};
</script>
<style scoped="scoped">
.rights {
	background-color: white;
	border-radius: 5px;
	padding: 15px;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}
.smll-rights {
	width: 100%;
	height: 100%;
	position: relative;
}
.el-breadcrumb {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 200;
}
.table {
	background-color: transparent;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 45px;
	box-sizing: border-box;
}
.small-table {
	display: flex;
	flex-direction: column;
	height: 100% !important;
}
</style>
