<template>
	<div id="app"><router-view /></div>
</template>

<style>
body,
html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.login-form .el-input__inner {
	height: 32px;
	line-height: 32px;
}
.el-submenu .el-menu-item {
	background-color: #001529;
	color: #ffffff;
}
.el-submenu__title:hover {
	background-color: #001529 !important;
}
.el-menu-item:focus,
.el-menu-item:hover {
	outline: 0;
	background-color: #001529 !important;
}
.el-aside {
	overflow-x: hidden !important;
}
.el-header {
	line-height: 45px !important;
	height: 45px !important;
}
.user .el-form,
.goods .el-form {
	background-color: #ffffff;
	margin-bottom: 15px;
}
.user .el-form-item,
.goods .el-form-item {
	margin: 0;
}
.el-breadcrumb {
	background-color: white;
	height: 45px;
	line-height: 45px !important;
}
.table .el-table__body-wrapper,
.small-orders .el-table__body-wrapper,
.small-categories .el-table__body-wrapper {
	overflow-y: auto;
	overflow-x: hidden;
	flex: 1;
}
/* .params .el-tabs ,.small-categories {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.params .el-tabs__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.params .el-tab-pane {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
} */
.params .el-tab-pane .el-table,
.small-orders .el-table,
.params .el-tab-pane,
.params .el-tabs__content,
.params .el-tabs,
.small-categories,
.small-categories .el-table {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.small-categories .el-table__expanded-cell {
	padding: 0 50px !important;
}
.cate-table .has-gutter {
	display: none;
}
</style>
